<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ashu.help.letshelp.com.letshelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.Splash"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Activities.AuthActivity" />
        <activity android:name=".Activities.Profile" />
        <activity android:name=".Activities.Notification" />

        <activity android:name=".Admin.AdminDashboard"></activity>

        <activity android:name=".Activities.EventActivity" />
        <activity android:name=".Activities.DonateActivity" />
        <activity android:name=".Activities.BloodDonateActivity" />
        <activity android:name=".Activities.Details.ClothesDetails" />
        <activity android:name=".Activities.Details.EventsDetails" />
        <activity android:name=".Activities.Details.MoneyDetails" />
        <activity android:name=".Activities.Details.NewsDetails" />
        <activity android:name=".Activities.Payment" />
        <activity android:name=".Activities.RegisterEvent" />
        <activity android:name=".Activities.RequestPickUpClothes"/>

        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />


    </application>

</manifest>